.root {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #ffffff;
}

.label, .button {
    -fx-text-fill: #ffffff;
}

.button {
    -fx-background-color: #444444;
    -fx-border-color: #555555;
}

.label {
    -fx-font-weight: bold;
}